@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome-webfont.eot?v=4.0.3');
	src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*
@mainbg: #FFF;
@maintext: #676767;
@nickname: #999;
@headers: #BBB;

@dim1: #999;
@dim2: #CACACA;
@dim3: #d8d8d8;

@leftbg: #F8F8F8;

@highlight: #2D7DDC;
@alert: #CB0012;
@whois: #66DAF1;
@notice: #AD75F4;
@mention: #FE9700;
@info: #AD75F4;

@joinarrow: #A6E807;
@partarrow: @alert;
*/
@mainbg: #111;
@maintext: #a2a2a2;
@chattext: #ccc;
@nickname: #ababab;
@headers: #666;

@dim1: #666;
@dim2: #555;
@dim3: #444;

@leftbg: #222;

@highlight: #2D7DDC;
@alert: #CB0012;
@whois: #66DAF1;
@notice: #AD75F4;
@mention: #FE9700;
@info: #AD75F4;

@joinarrow: #A6E807;
@partarrow: @alert;

body {
	background-color: @mainbg;
	color: @maintext;
	font-family: 'Helvetica Neue', sans-serif;
  font-size: 12px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	line-height: 20px;
}

html, body, body > div {
	height: 100%;
}

input {
	border: 0;
	padding: 0;
	outline: none;
}

// Browser compatibility mixins
.white-space(@val) {
	white-space: @val;
	white-space: ~"-moz-@{val}";
	white-space: ~"-@{val}";
	white-space: ~"-o-@{val}";
}

// General tables

.fulltable {
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 100%;
}

.fixedtable {
	display: table;
	table-layout: fixed;
	width: 100%;
}

.tablerow {
	display: table-row;
}

.tablecell {
	display: table-cell;
}

.tablecellvmid {
	display: table-cell;
	vertical-align: middle;
}

// Login screen

.loginbox {
	margin: auto;
	width: 400px;
	padding: 0px 10px 10px 10px;
}

.loginfieldwrapper {
	padding: 3px 3px 3px 3px;
}

.loginbuttonwrapper {
	padding-top: 10px;
}

// Login screen button

.button1 {
	padding: 5px 7px 5px 7px;
	cursor: pointer;
	text-overflow: ellipsis;
	.white-space(nowrap);
	overflow: hidden;
}

.button1:hover {
	background-color: @dim3;
	border-radius: 5px;
}

.button1:active {
	position: relative;
	top: 1px;
}

.centertext {
	text-align:center;
}

// Main screen

.leftbarcell {
	display: table-cell;
	width: 160px;
	padding: 8px 10px 10px 0px;
  background-color: @leftbg;
}

.rightcell {
	display: table-cell;
	vertical-align: bottom;
  padding: 0;
}

// Chatlog and userlist

.chatlog-and-userlist() { // for lack of a better name
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: auto;
}

// Chatlog

.chatlog {
	padding: 8px 12px 0 12px;
	.chatlog-and-userlist();
}

a.chatlogLink {
	color: inherit;
	text-decoration: none;
}

span.chatlogLink {
	cursor: pointer;
}

.chatlogLink:hover {
	text-decoration: underline;
}

// Userlist

.userlist {
	padding: 8px 0px 6px 12px;
	.chatlog-and-userlist();
}

.userlistcell {
	display: table-cell;
	width: 140px;
  color: @nickname;
	vertical-align: bottom;
}

.userlistheader {
    text-decoration: none;
    text-transform: uppercase;
    color: @headers;
    font-size: 10px;
    font-weight: 400;
}

.userlistentry {
	padding: 1px 2px 0px 0px;
	text-overflow: ellipsis;
	.white-space(nowrap);
	overflow: hidden;
}

// Chatbox

.chatboxwrapper {
    box-sizing: border-box;
    padding: 3px;
    border: 1px @dim3 solid;
    //border-radius: 4px;
		border-left: none;
		border-bottom: none;
    height: 25px;
}
.chatbox, .chatboxshadow {
    box-sizing: border-box;
    border: none;
		font: inherit;
		resize: none;
		background-color: @mainbg;
		color: @maintext;
		outline: none;
		vertical-align: top;
}
.chatbox {
	width: 100%;
}
.chatboxshadow {
	width: 200px;
	position: absolute;
	top: -9999px;
	left: -9999px;
	.white-space(pre-wrap);
	word-wrap: break-word;
}

// Side buttons

.windowbuttonblock {
	margin-bottom: 8px;
}

.sidebutton {
	display: table;
	table-layout: fixed;
	width: 100%;
    line-height: 0;
	&:active {
		position: relative;
		top: 1px;
	}

	&_iconcell_displaynone {
		display: none;
	}

	&_iconcell {
		display: table-cell;
		width: 21px;
    text-overflow: ellipsis;
    color: @maintext;
		vertical-align: middle;
    height: 21px;
    font-size: 10px;

		.sidebutton_iconinner_addserver {
			color: @maintext;
		}

		.sidebutton_iconinner_options {
			color: @maintext;
		}

		.sidebutton_iconinner_close {
			color: @maintext;
		}

	}
}

.addserverbutton:extend(.sidebutton) {
	margin-top: 3px;

	&_maincell {
		display: none;
	}

	.sidebutton_iconcell {
		cursor: pointer;
	}
    .sidebutton_iconinner_addserver {
        text-align: left;
        padding-left: 12px;
    }
}

.windowbutton:extend(.sidebutton) {
	cursor: pointer;
	&_alttitle {
		color: #DDD;
	}

	&_current {
        color: @highlight;
        font-weight: 400;
        //height: 10px;
	}

	&_maincell {
		display: table-cell;
    font-size: 14px;
		height: 15px;
		padding: 3px 0 3px 12px;
		text-overflow: ellipsis;
		.white-space(nowrap);
		overflow: hidden;
		vertical-align: middle;
	}
}

.windowbuttonserver:extend(.windowbutton) {
    .windowbutton_maincell:extend(.windowbutton_maincell) {
        text-transform: uppercase;
        color: @headers;
        font-size: 10px !important;
        font-weight: 400;
    }
}

.windowbutton_current .windowbutton_maincell {
    color: @highlight !important;
}

.sidebutton_iconinner {
    color: #FFF;
    font-size: 9px;
    text-align: center;
    margin: 0;
    padding: 3px auto;
    height: 14px;
    border-radius: 7px;

    line-height: 14px;

		&_alert:extend(.sidebutton_iconinner) {
			background-color: @alert;
    	text-shadow: 0 1px #888;
		}

		&_event:extend(.sidebutton_iconinner) {
			background-color: @dim2;
    	text-shadow: 0 1px #888;
		}

		&_close:extend(.sidebutton_iconinner) {
			font-family: 'FontAwesome';
    	font-size: 14px;
			&:before {
				content: '\f00d';
			}
		}

		&_addserver:extend(.sidebutton_iconinner) {
			font-family: 'FontAwesome';
      font-size: 14px;
			&:before {
				content: '\f067';
			}
		}

		&_options:extend(.sidebutton_iconinner) {
			font-family: 'FontAwesome';
      font-size: 14px;
			&:before {
				content: '\f0c9';
			}
		}
}

// Activities

.activityblock {
    display: flex;
    justify-content: space-between;
}
.colnick {
    text-align: right;
    color: @nickname;
    flex: 0 0 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.coldot {
    flex: 0 0 auto;
    width: 20px;
    height: 20px;
    text-align: center;

    .dot {
        width: 8px;
        height: 8px;
        border-radius: 4px;
        margin: 6px;
    }
    .pipe {
        width: 4px;
        height: 10px;
        margin: 5px 8px 5px 8px;
    }
    .info {
        font-family: 'FontAwesome';
        font-size: 9px;
    }
    .circle {
        width: 4px;
        height: 4px;
        border-radius: 4px;
        margin: 6px;
    }
    .circlethin {
        width: 6px;
        height: 6px;
        border-radius: 4px;
        margin: 6px;
    }
    .three {
        font-family: 'FontAwesome';
        font-size: 12px;
        padding: 1px 5px 0;
    }
    .warn {
        font-family: 'FontAwesome';
        font-size: 10px;
        padding: 0 7px;
    }
    .star {
        font-family: 'FontAwesome';
        font-size: 9px;
        padding: 0 5px;
    }

}

// god, this whole fucking thing is a mess

.coltext {
	  color: @chattext;
	  flex: 1 1 auto;
		.white-space(pre-wrap);
		word-wrap: break-word;
}

.coltext .coldot {
    display: inline-flex;
    //margin-left: 1px;
}

.dim1 {
		color: @dim1;
}

.dim2 {
    color: @dim2;
}

.dim3 {
		color: @dim3;
}

.nick {
    color: @nickname;
}

.coltime {
    flex: 0 0 auto;
    font-size: 9px;
    color: @dim2;
    padding-left: 4px;
}


.activity_notice {
    .colnick, .coltext, .coldot {
        color: @notice;
    }
}

.activity_error {
    .colnick, .coltext, .coldot {
        color: @alert;
    }
    .colnick {
        font-family: 'FontAwesome';
    }
}

.activity_mentionme {
    .colnick, .coltext, .coldot {
        color: @mention;
    }
}


.activity_info {
    .colnick, .coltext, .coldot {
        color: @info;
    }
    .colnick {
        text-transform: uppercase;
        font-size: 10px;
    }
}

.activity_dim {
    .colnick, .coltext, .coldot {
        color: @dim2;
    }
}

.activity_whois {
    .colnick, .coltext, .coldot {
        color: @whois;
    }
}

.activity_mychat {
    .colnick {
        color: @highlight;
    }
    .nick {
        color: @highlight;
    }
}

.activity_join {
    .colnick {
        font-family: 'FontAwesome';
        color: @joinarrow;
    }
    .coltext {
        color: @dim2;
    }
}

.activity_part {
    .colnick {
        font-family: 'FontAwesome';
        color: @partarrow;
    }
    .coltext {
        color: @dim2;
    }
}

.activity {
	.white-space(pre-wrap);
	word-wrap: break-word;
}
